<footer class="py-5 bg-black">
  <div class="container">
      <p class="text-center text-white m-0 small"><strong>Made with ♥️ by IITian for IITians</strong><br></p>
  </div>
</footer>
</body>

</html>