<%- include('partials/header'); -%>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="img/IMG_20180916_122427.jpg?h=1cdcf0437a508c3bd9bdcc1732461fe4" style="width: 300 px;height: 300 px;"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="text-center display-4" style="font-size: 36px;"><strong>Made with ♥️ by Plenue</strong><br></h2>
                    <p class="text-center">Hello guys,<br><em>I am Shashi Fagna and I’m the student at Indian Institute of Technology, Mandi. I’ve always been passionate about technologies and their uses. And this website is reward of my passion. I began working on this website and DL model in November 2019. Collected and processed raw data from various sources and trained a RNN model using it.</em><br></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact-clean" style="background-color: rgb(255,255,255);">
    <form action="https://formspree.io/xdowkvkg" method="POST">
        <h2 class="text-center">Feedback Form</h2>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
        <div class="form-group"><input class="form-control" type="email" name="_replyto" placeholder="Email"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit" value="Send">send </button></div>
    </form>
</div>
<div ><%- include('partials/footer'); -%></div>
