<%- include('partials/header'); -%>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">JARP or </h1>
            <h2 class="masthead-subheading mb-0"><strong>JEE Advance Rank Predictor</strong><br></h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="/rank">Get your rank now</a></div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5"><img class="rounded-circle img-fluid" src="/img/artificial-intelligence-2228610_1920.jpg?h=ee2568bd1a6ceab167415b54c4760046" style="height: 454px;width: 462px;"></div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="text-right display-4">Based on Deep Learning Model</h2>
                    <p class="text-right">JARP unlike other Rank Predictor is based on Deep Learning Model. This mean that prediction will be quite close to your actual rank. During my Jee Adv time (that's 2017), diference between Actual &amp; Predicted Rank (Avg from
                        different site) was more than 3000. Hence this motivated me to make rank prediction model that have higher similarity to actual rank mark distribution.<br></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="img/download.png?h=df66fa82a23713fb3fc22b37268569ee" style="width: 362px;"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Know this model performance on 2019 data!</h2>
                    <p>We have not trained data on 2019 Jee Adv data. Hence JARP doesnt even know about JEE Adv 2019 Rank and Marks pattern. Therefore click below to know how JARP predicts 2019's trend and how close it is to actual rank.</p><a class="btn btn-outline-primary" role="button" href="/model">Here</a></div>
            </div>
        </div>
    </div>
</section>
<script src="js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
<script src="bootstrap/js/bootstrap.min.js?h=e46528792882c54882f660b60936a0fc"></script>
<%- include('partials/footer'); -%>
