<%- include('partials/header'); -%>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="img/download.png?h=df66fa82a23713fb3fc22b37268569ee" style="width: 362px;"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="text-center display-4">Know how this model work on 2019 data?</h2>
                    <p class="text-center">This DL model uses LSTM Arch (you will know when will be in college). You can see&nbsp; Model Prediction and Actual Rank below in the table.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="table-responsive text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Model&nbsp; Mark</th>
                    <th>Actual Mark</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>316</td>
                    <td>346</td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>221</td>
                    <td>227</td>
                </tr>
                <tr>
                    <td>1000</td>
                    <td>202</td>
                    <td>206</td>
                </tr>
                <tr>
                    <td>2000</td>
                    <td>186</td>
                    <td>186</td>
                </tr>
                <tr>
                    <td>3000</td>
                    <td>173</td>
                    <td>174</td>
                </tr>
                <tr>
                    <td>5000</td>
                    <td>154</td>
                    <td>157</td>
                </tr>
                <tr>
                    <td>8000</td>
                    <td>135</td>
                    <td>140</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer'); -%>
